In [1]:
!pwd

/home/piyush/Desktop/spotmentorlabs-machine-learning-assessment-dcc28d02f3d4

In [2]:
import os, json
import pandas as pd

# this finds our json files
path_to_json = 'data/docs'
json_files = [pos_json for pos_json in os.listdir(path_to_json) if pos_json.endswith('.json')]

In [3]:
jsons_data = pd.DataFrame(columns=['job description', 'job id'])

In [4]:
for index, js in enumerate(json_files):
    with open(os.path.join(path_to_json, js)) as json_file:
        json_text = json.load(json_file)

        job_description = json_text['jd_information']['description']
        job_id = json_text['_id']
        jsons_data.loc[index] = [job_description, job_id]

In [5]:
jsons_data.describe()

       job description   job id
count             1162     1162
unique             619     1162
top                     8066769
freq               417        1

In [6]:
jsons_data.head()

                                     job description   job id
0  Accounting Experience and computer knowledge, ...  8303467
1  Post: Office ExecutiveLocation:&nbsp;Andheri M...  8136645
2                                                     8231256
3                                                     8131576
4  The person will have in-depth understanding of...  8370423

In [7]:
!pwd

/home/piyush/Desktop/spotmentorlabs-machine-learning-assessment-dcc28d02f3d4

In [8]:
csv_data = pd.read_csv("./data/document_departments.csv")

In [9]:
csv_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1162 entries, 0 to 1161
Data columns (total 2 columns):
Document ID    1162 non-null int64
Department     1162 non-null object
dtypes: int64(1), object(1)
memory usage: 18.2+ KB

In [10]:
jsons_data.columns = ['Job Description', 'Document ID']

In [11]:
csv_data.head()

   Document ID             Department
0      8196431       Customer service
1      8278123      Digital Marketing
2      8331625                  Sales
3      8331003  Back office ticketing
4      8277939      Digital Marketing

In [12]:
jsons_data.head()

                                     Job Description Document ID
0  Accounting Experience and computer knowledge, ...     8303467
1  Post: Office ExecutiveLocation:&nbsp;Andheri M...     8136645
2                                                        8231256
3                                                        8131576
4  The person will have in-depth understanding of...     8370423

In [13]:
jsons_data['Document ID']=jsons_data['Document ID'].astype(int)

In [14]:
jsons_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1162 entries, 0 to 1161
Data columns (total 2 columns):
Job Description    1162 non-null object
Document ID        1162 non-null int64
dtypes: int64(1), object(1)
memory usage: 27.2+ KB

In [15]:
final = jsons_data.merge(csv_data,on='Document ID')

In [16]:
final.drop('Document ID', axis=1, inplace=True)

In [17]:
final.head()

                                     Job Description               Department
0  Accounting Experience and computer knowledge, ...                  Finance
1  Post: Office ExecutiveLocation:&nbsp;Andheri M...               Data entry
2                                                     Marine Service Steward
3                                                                     Finance
4  The person will have in-depth understanding of...               Operations

In [18]:
csv_data.loc[csv_data['Document ID'] == 8370423]

      Document ID  Department
1056      8370423  Operations

In [21]:
!pwd

/home/piyush/Desktop/spotmentorlabs-machine-learning-assessment-dcc28d02f3d4

In [20]:
from fastai.text import *

In [22]:
#splitting dataframes in training and testing 
final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1162 entries, 0 to 1161
Data columns (total 2 columns):
Job Description    1162 non-null object
Department         1162 non-null object
dtypes: object(2)
memory usage: 27.2+ KB

In [33]:
from sklearn.model_selection import train_test_split
train_df, valid_df = train_test_split(final, test_size=0.2)

In [34]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 929 entries, 100 to 34
Data columns (total 2 columns):
Job Description    929 non-null object
Department         929 non-null object
dtypes: object(2)
memory usage: 21.8+ KB

In [35]:
valid_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 233 entries, 253 to 218
Data columns (total 2 columns):
Job Description    233 non-null object
Department         233 non-null object
dtypes: object(2)
memory usage: 5.5+ KB

In [40]:
import os
cwd = os.getcwd()
cwd

'/home/piyush/Desktop/spotmentorlabs-machine-learning-assessment-dcc28d02f3d4'

In [41]:
#create language model data
data_lm = TextLMDataBunch.from_df(path=cwd, train_df=train_df, valid_df=valid_df, text_cols="Job Description", label_cols="Department")

In [42]:
#create classifier model data
data_clas = TextClasDataBunch.from_df(path=cwd, train_df=train_df, valid_df=valid_df, text_cols="Job Description", 
                                      label_cols="Department",vocab=data_lm.train_ds.vocab, bs=16)

In [43]:
learn = language_model_learner(data_lm, AWD_LSTM, drop_mult=0.5)
learn.fit_one_cycle(1, 1e-2)

Downloading https://s3.amazonaws.com/fast-ai-modelzoo/wt103-fwd

In [44]:
learn.unfreeze()
learn.fit_one_cycle(1, 1e-3)

In [45]:
learn.save_encoder('ft_enc')

In [46]:
learn = text_classifier_learner(data_clas, AWD_LSTM, drop_mult=0.5)
learn.load_encoder('ft_enc')

RNNLearner(data=TextClasDataBunch;

Train: LabelList (929 items)
x: TextList
xxbos xxmaj you should have minimum of 1 xxmaj year hands - on experience in xxmaj international xxmaj air xxmaj ticketing . xxmaj you should have sound knowledge & & experience in xxmaj galileo & & xxmaj amadeus . xxmaj you should have knowledge of making reservations on xxup crs . xxmaj creating xxup pnr split , xxmaj queues xxmaj you should have xxunk of xxup bsp xxmaj electronic xxmaj ticketing xxmaj table , xxmaj ticketing xxmaj quota xxmaj system , xxmaj issuing & & reissuing . xxmaj you should have sound xxmaj knowledge of xxmaj airline xxmaj fares.- xxmaj you should be professional , and positive in handling clients . xxmaj requirements : xxunk be computer literate , familiarity with xxmaj microsoft excel , word , and outlook .,xxbos,xxbos xxmaj the key to your success in this role will be : xxmaj strong written and oral communication skills a xxunk team member with a desire to share ideas xxmaj industry experience of at least 2 years a passion for travel xxmaj knowledge of , and the ability to work across all xxmaj south xxmaj xxunk destinations is essential xxmaj the ability to work under pressure and meet deadlines xxmaj excellent attention to detail xxmaj xxunk xxunk of initiative xxmaj the desire to learn and develop your skills and knowledge xxmaj an out there kind of personality !,xxbos,xxbos xxmaj travel xxmaj consultant xxunk : xxmaj determining clients ’ needs & and suggesting suitable travel xxunk travels from beginning to end , including tickets , accommodation and xxunk travelers with pertinent information and useful & travel / holiday materials & & xxmaj job briefwe are looking for a xxmaj travel xxmaj consultant with great enthusiasm for traveling . xxmaj you will be responsible for promoting and booking traveling arrangements for clients ( individuals or businesses ) . xxmaj the goal is to enhance satisfaction and acquire an expanding and dedicated clientele . responsibilitiesresearch various destinations and means of travel regarding prices , customs , weather conditions , reviews etc . xxmaj diagnose the clients ’ specifications and wishes and suggest suitable travel packages or servicesorganize travels from beginning to end , through booking tickets and accommodation , securing rental transportation etc . xxmaj supply travelers with pertinent information and useful & travel / holiday material & ( guides , maps , event programs etc)collect deposits and balancesuse promotional techniques and prepare promotional materials to sell itinerary tour packageshandle unforeseen & problems and complaints & and determine eligibility & for money returnsattend conferences & to & maintain familiarity with tourism trendscreate and update electronic records of clientsmaintain relationships with key personskeep financial statements and documentsreach the revenue and profit targetsrequirementsproven working experience as a travel consultantexcellent knowledge of traveling software ( computer reservations systems , xxup gds systems and e - travel)proficiency in xxmaj english ; knowledge of additional languages is an advantageexemplary sales skills and customer oriented approachwell versed in various areas of travel ( domestic / international , business / holidays , group / individual etc)ability to present , persuade and communicate effectivelydemonstrable ability to handle crisesdegree in xxmaj hospitality , xxmaj travel , xxmaj tourism , xxmaj business or relevant fieldcandidates with personal travel experience will be preferred
y: CategoryList
Ticketing,Ticketing,Ticketing,Ticketing,Ticketing
Path: /home/piyush/Desktop/spotmentorlabs-machine-learning-assessment-dcc28d02f3d4;

Valid: LabelList (233 items)
x: TextList
xxbos,xxbos,xxbos xxmaj requirement for xxmaj part xxmaj time xxmaj internet xxmaj based xxunk xxmaj works xxmaj are xxmaj available xxmaj for xxmaj workers xxmaj around xxmaj the xxmaj world . xxmaj nature of xxmaj business : & xxmaj promotion of xxmaj tourism & xxmaj services . xxmaj income : & xxmaj you xxmaj can xxmaj earn xxmaj up xxmaj to xxmaj rs.4000 xxmaj to 6000 xxmaj per xxmaj week . xxmaj benefit : & xxmaj no xxmaj time xxmaj bound , xxmaj no xxmaj skill xxmaj required . xxmaj complete xxmaj training xxmaj provided xxmaj to xxmaj all xxmaj active xxmaj members . xxmaj all xxmaj payments xxmaj are xxmaj weekly xxmaj basis . xxmaj worldwide xxmaj required xxmaj limited xxunk xxmaj now . xxmaj xxunk xxmaj xxunk ( xxup hr xxmaj xxunk,xxbos,xxbos xxmaj we xxmaj have urgent xxunk for xxmaj ticketing xxmaj executive at xxmaj tour and xxmaj travel xxunk xxmaj company at saanewal xxmaj location . xxmaj post- xxmaj ticketing xxmaj executive , xxmaj travel xxunk - 3 xxmaj xxunk 9 - xxunk xxmaj saanewaal , xxup xxunk xxmaj road . xxmaj ludhiana . xxmaj xxunk xxmaj candiadtes will xxunk near by 10 - 15 xxmaj xxunk they can apply on prior . xxmaj xxunk , saanewaal , xxmaj xxunk , xxmaj xxunk , or near by candidates can apply . xxmaj job xxmaj xxunk * xxmaj all xxmaj ticketing xxmaj activities : such as xxmaj issuance , xxmaj re - issuance , xxmaj xxunk , xxmaj cancellation and xxmaj refunds * knowledge of xxup gds ( xxmaj amadeus / xxmaj sabre ) - xxmaj not necessary for xxunk * xxmaj xxunk all activities * xxmaj follow ups with customers and clients for existing reservations . xxmaj intrested can call to xxmaj aditya kumar on 8527750087 or mail your cv on hr@cmts.in or cmts.hr@gmail.com & male and xxmaj female both will xxunk for the post .
y: CategoryList
Ticketing,Sales,Marketing,Digital Marketing,Ticketing
Path: /home/piyush/Desktop/spotmentorlabs-machine-learning-assessment-dcc28d02f3d4;

Test: None, model=SequentialRNN(
  (0): MultiBatchEncoder(
    (module): AWD_LSTM(
      (encoder): Embedding(3288, 400, padding_idx=1)
      (encoder_dp): EmbeddingDropout(
        (emb): Embedding(3288, 400, padding_idx=1)
      )
      (rnns): ModuleList(
        (0): WeightDropout(
          (module): LSTM(400, 1152, batch_first=True)
        )
        (1): WeightDropout(
          (module): LSTM(1152, 1152, batch_first=True)
        )
        (2): WeightDropout(
          (module): LSTM(1152, 400, batch_first=True)
        )
      )
      (input_dp): RNNDropout()
      (hidden_dps): ModuleList(
        (0): RNNDropout()
        (1): RNNDropout()
        (2): RNNDropout()
      )
    )
  )
  (1): PoolingLinearClassifier(
    (layers): Sequential(
      (0): BatchNorm1d(1200, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
      (1): Dropout(p=0.2, inplace=False)
      (2): Linear(in_features=1200, out_features=50, bias=True)
      (3): ReLU(inplace=True)
      (4): BatchNorm1d(50, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
      (5): Dropout(p=0.1, inplace=False)
      (6): Linear(in_features=50, out_features=30, bias=True)
    )
  )
), opt_func=functools.partial(<class 'torch.optim.adam.Adam'>, betas=(0.9, 0.99)), loss_func=FlattenedLoss of CrossEntropyLoss(), metrics=[<function accuracy at 0x7fdd9b6f5d08>], true_wd=True, bn_wd=True, wd=0.01, train_bn=True, path=PosixPath('/home/piyush/Desktop/spotmentorlabs-machine-learning-assessment-dcc28d02f3d4'), model_dir='models', callback_fns=[functools.partial(<class 'fastai.basic_train.Recorder'>, add_time=True, silent=False)], callbacks=[RNNTrainer
learn: RNNLearner(data=TextClasDataBunch;

Train: LabelList (929 items)
x: TextList
xxbos xxmaj you should have minimum of 1 xxmaj year hands - on experience in xxmaj international xxmaj air xxmaj ticketing . xxmaj you should have sound knowledge & & experience in xxmaj galileo & & xxmaj amadeus . xxmaj you should have knowledge of making reservations on xxup crs . xxmaj creating xxup pnr split , xxmaj queues xxmaj you should have xxunk of xxup bsp xxmaj electronic xxmaj ticketing xxmaj table , xxmaj ticketing xxmaj quota xxmaj system , xxmaj issuing & & reissuing . xxmaj you should have sound xxmaj knowledge of xxmaj airline xxmaj fares.- xxmaj you should be professional , and positive in handling clients . xxmaj requirements : xxunk be computer literate , familiarity with xxmaj microsoft excel , word , and outlook .,xxbos,xxbos xxmaj the key to your success in this role will be : xxmaj strong written and oral communication skills a xxunk team member with a desire to share ideas xxmaj industry experience of at least 2 years a passion for travel xxmaj knowledge of , and the ability to work across all xxmaj south xxmaj xxunk destinations is essential xxmaj the ability to work under pressure and meet deadlines xxmaj excellent attention to detail xxmaj xxunk xxunk of initiative xxmaj the desire to learn and develop your skills and knowledge xxmaj an out there kind of personality !,xxbos,xxbos xxmaj travel xxmaj consultant xxunk : xxmaj determining clients ’ needs & and suggesting suitable travel xxunk travels from beginning to end , including tickets , accommodation and xxunk travelers with pertinent information and useful & travel / holiday materials & & xxmaj job briefwe are looking for a xxmaj travel xxmaj consultant with great enthusiasm for traveling . xxmaj you will be responsible for promoting and booking traveling arrangements for clients ( individuals or businesses ) . xxmaj the goal is to enhance satisfaction and acquire an expanding and dedicated clientele . responsibilitiesresearch various destinations and means of travel regarding prices , customs , weather conditions , reviews etc . xxmaj diagnose the clients ’ specifications and wishes and suggest suitable travel packages or servicesorganize travels from beginning to end , through booking tickets and accommodation , securing rental transportation etc . xxmaj supply travelers with pertinent information and useful & travel / holiday material & ( guides , maps , event programs etc)collect deposits and balancesuse promotional techniques and prepare promotional materials to sell itinerary tour packageshandle unforeseen & problems and complaints & and determine eligibility & for money returnsattend conferences & to & maintain familiarity with tourism trendscreate and update electronic records of clientsmaintain relationships with key personskeep financial statements and documentsreach the revenue and profit targetsrequirementsproven working experience as a travel consultantexcellent knowledge of traveling software ( computer reservations systems , xxup gds systems and e - travel)proficiency in xxmaj english ; knowledge of additional languages is an advantageexemplary sales skills and customer oriented approachwell versed in various areas of travel ( domestic / international , business / holidays , group / individual etc)ability to present , persuade and communicate effectivelydemonstrable ability to handle crisesdegree in xxmaj hospitality , xxmaj travel , xxmaj tourism , xxmaj business or relevant fieldcandidates with personal travel experience will be preferred
y: CategoryList
Ticketing,Ticketing,Ticketing,Ticketing,Ticketing
Path: /home/piyush/Desktop/spotmentorlabs-machine-learning-assessment-dcc28d02f3d4;

Valid: LabelList (233 items)
x: TextList
xxbos,xxbos,xxbos xxmaj requirement for xxmaj part xxmaj time xxmaj internet xxmaj based xxunk xxmaj works xxmaj are xxmaj available xxmaj for xxmaj workers xxmaj around xxmaj the xxmaj world . xxmaj nature of xxmaj business : & xxmaj promotion of xxmaj tourism & xxmaj services . xxmaj income : & xxmaj you xxmaj can xxmaj earn xxmaj up xxmaj to xxmaj rs.4000 xxmaj to 6000 xxmaj per xxmaj week . xxmaj benefit : & xxmaj no xxmaj time xxmaj bound , xxmaj no xxmaj skill xxmaj required . xxmaj complete xxmaj training xxmaj provided xxmaj to xxmaj all xxmaj active xxmaj members . xxmaj all xxmaj payments xxmaj are xxmaj weekly xxmaj basis . xxmaj worldwide xxmaj required xxmaj limited xxunk xxmaj now . xxmaj xxunk xxmaj xxunk ( xxup hr xxmaj xxunk,xxbos,xxbos xxmaj we xxmaj have urgent xxunk for xxmaj ticketing xxmaj executive at xxmaj tour and xxmaj travel xxunk xxmaj company at saanewal xxmaj location . xxmaj post- xxmaj ticketing xxmaj executive , xxmaj travel xxunk - 3 xxmaj xxunk 9 - xxunk xxmaj saanewaal , xxup xxunk xxmaj road . xxmaj ludhiana . xxmaj xxunk xxmaj candiadtes will xxunk near by 10 - 15 xxmaj xxunk they can apply on prior . xxmaj xxunk , saanewaal , xxmaj xxunk , xxmaj xxunk , or near by candidates can apply . xxmaj job xxmaj xxunk * xxmaj all xxmaj ticketing xxmaj activities : such as xxmaj issuance , xxmaj re - issuance , xxmaj xxunk , xxmaj cancellation and xxmaj refunds * knowledge of xxup gds ( xxmaj amadeus / xxmaj sabre ) - xxmaj not necessary for xxunk * xxmaj xxunk all activities * xxmaj follow ups with customers and clients for existing reservations . xxmaj intrested can call to xxmaj aditya kumar on 8527750087 or mail your cv on hr@cmts.in or cmts.hr@gmail.com & male and xxmaj female both will xxunk for the post .
y: CategoryList
Ticketing,Sales,Marketing,Digital Marketing,Ticketing
Path: /home/piyush/Desktop/spotmentorlabs-machine-learning-assessment-dcc28d02f3d4;

Test: None, model=SequentialRNN(
  (0): MultiBatchEncoder(
    (module): AWD_LSTM(
      (encoder): Embedding(3288, 400, padding_idx=1)
      (encoder_dp): EmbeddingDropout(
        (emb): Embedding(3288, 400, padding_idx=1)
      )
      (rnns): ModuleList(
        (0): WeightDropout(
          (module): LSTM(400, 1152, batch_first=True)
        )
        (1): WeightDropout(
          (module): LSTM(1152, 1152, batch_first=True)
        )
        (2): WeightDropout(
          (module): LSTM(1152, 400, batch_first=True)
        )
      )
      (input_dp): RNNDropout()
      (hidden_dps): ModuleList(
        (0): RNNDropout()
        (1): RNNDropout()
        (2): RNNDropout()
      )
    )
  )
  (1): PoolingLinearClassifier(
    (layers): Sequential(
      (0): BatchNorm1d(1200, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
      (1): Dropout(p=0.2, inplace=False)
      (2): Linear(in_features=1200, out_features=50, bias=True)
      (3): ReLU(inplace=True)
      (4): BatchNorm1d(50, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
      (5): Dropout(p=0.1, inplace=False)
      (6): Linear(in_features=50, out_features=30, bias=True)
    )
  )
), opt_func=functools.partial(<class 'torch.optim.adam.Adam'>, betas=(0.9, 0.99)), loss_func=FlattenedLoss of CrossEntropyLoss(), metrics=[<function accuracy at 0x7fdd9b6f5d08>], true_wd=True, bn_wd=True, wd=0.01, train_bn=True, path=PosixPath('/home/piyush/Desktop/spotmentorlabs-machine-learning-assessment-dcc28d02f3d4'), model_dir='models', callback_fns=[functools.partial(<class 'fastai.basic_train.Recorder'>, add_time=True, silent=False)], callbacks=[...], layer_groups=[Sequential(
  (0): Embedding(3288, 400, padding_idx=1)
  (1): EmbeddingDropout(
    (emb): Embedding(3288, 400, padding_idx=1)
  )
), Sequential(
  (0): WeightDropout(
    (module): LSTM(400, 1152, batch_first=True)
  )
  (1): RNNDropout()
), Sequential(
  (0): WeightDropout(
    (module): LSTM(1152, 1152, batch_first=True)
  )
  (1): RNNDropout()
), Sequential(
  (0): WeightDropout(
    (module): LSTM(1152, 400, batch_first=True)
  )
  (1): RNNDropout()
), Sequential(
  (0): PoolingLinearClassifier(
    (layers): Sequential(
      (0): BatchNorm1d(1200, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
      (1): Dropout(p=0.2, inplace=False)
      (2): Linear(in_features=1200, out_features=50, bias=True)
      (3): ReLU(inplace=True)
      (4): BatchNorm1d(50, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
      (5): Dropout(p=0.1, inplace=False)
      (6): Linear(in_features=50, out_features=30, bias=True)
    )
  )
)], add_time=True, silent=False)
alpha: 2.0
beta: 1.0], layer_groups=[Sequential(
  (0): Embedding(3288, 400, padding_idx=1)
  (1): EmbeddingDropout(
    (emb): Embedding(3288, 400, padding_idx=1)
  )
), Sequential(
  (0): WeightDropout(
    (module): LSTM(400, 1152, batch_first=True)
  )
  (1): RNNDropout()
), Sequential(
  (0): WeightDropout(
    (module): LSTM(1152, 1152, batch_first=True)
  )
  (1): RNNDropout()
), Sequential(
  (0): WeightDropout(
    (module): LSTM(1152, 400, batch_first=True)
  )
  (1): RNNDropout()
), Sequential(
  (0): PoolingLinearClassifier(
    (layers): Sequential(
      (0): BatchNorm1d(1200, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
      (1): Dropout(p=0.2, inplace=False)
      (2): Linear(in_features=1200, out_features=50, bias=True)
      (3): ReLU(inplace=True)
      (4): BatchNorm1d(50, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
      (5): Dropout(p=0.1, inplace=False)
      (6): Linear(in_features=50, out_features=30, bias=True)
    )
  )
)], add_time=True, silent=False)

In [47]:
data_clas.show_batch()

In [48]:
learn.fit_one_cycle(1, 1e-2)

In [49]:
learn.freeze_to(-2)
learn.fit_one_cycle(1, slice(5e-3/2., 5e-3))

In [50]:
learn.unfreeze()
learn.fit_one_cycle(1, slice(2e-3/100, 2e-3))

In [51]:
learn.fit_one_cycle(1, 1e-3)